version: "3"
 
services:
    nginx:
        container_name: nginx
        build: requirements/nginx/
        depends_on:
            - wordpress
        ports:
            - 443:443
        volumes:
            - ./wordpress:/var/www/html
        networks:
             - mynetwork
    mariadb:
        container_name: mariadb
        build: requirements/mariadb/
        volumes:
            - ./data:/var/lib/mysql
        restart: always
        environment:
           MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
           MYSQL_DATABASE: ${WORDPRESS_DB_NAME}
           MYSQL_USER: ${WORDPRESS_DB_USER}
           MYSQL_PASSWORD: ${WORDPRESS_DB_PASS}
        networks:
            - mynetwork
    wordpress:
        container_name: wordpress
        build: requirements/wordpress/
        depends_on:
          - mariadb
        volumes:
          - ./wordpress:/var/www/html
        restart: always
        environment:
          WORDPRESS_DB_HOST: ${WORDPRESS_DB_HOST}
          WORDPRESS_DB_NAME: ${WORDPRESS_DB_NAME}
          WORDPRESS_DB_USER: ${WORDPRESS_DB_USER}
          WORDPRESS_DB_PASS: ${WORDPRESS_DB_PASS}

          URL: ${URL}
          TITLE: ${TITLE}
          ADMIN_USER: ${ADMIN_USER}
          ADMIN_PWD: ${ADMIN_PWD}
          ADMIN_MAIL: ${ADMIN_MAIL}

          WP_USER_NAME: ${WP_USER_NAME}
          WP_USER_PASS: ${WP_USER_PASS}
          WP_USER_MAIL: ${WP_USER_MAIL}
        networks:
            - mynetwork
networks:
    mynetwork:
